<div class="container">
    <h1>Template Form</h1>
    <form class="row g-3 needs-validation" #form="ngForm" novalidate>
        <div class="col-md-4">
          <label  >First name</label>
          <input type="text"  [(ngModel)]="userObj.firstName" required #fname="ngModel" name="firstName" class="form-control" >
          <div class="text-danger">
            @if(fname.errors?.['required'] && fname.touched && fname.dirty){
                <span>This is required</span>
            }
          </div>
        </div>
        <div class="col-md-4">
          <label  >Last name</label>
          <input type="text"  [(ngModel)]="userObj.lastName" required minlength="4" #lname="ngModel" name="lastName" class="form-control">
          <div class="text-danger">
                <span *ngIf="lname.errors?.['required'] && lname.touched && lname.dirty">This is required</span>
                <span *ngIf="lname.errors?.['minlength'] && lname.touched && lname.dirty">Must be at least 4 characters long</span>
          </div>
        </div>
        <div class="col-md-4">
          <label >Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
            <input type="text" pattern="" [(ngModel)]="userObj.userName" name="userName" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <label >City</label>
          <input type="text" name="city" [(ngModel)]="userObj.city" class="form-control" >
        </div>
        <div class="col-md-3">
          <label >State</label>
          <select class="form-select" name="state" [(ngModel)]="userObj.state" >
            <option selected disabled value="">Choose...</option>
            <option value="kerala">kerala</option>
            <option value="karnataka">karnataka</option>
            <option value="tamilnadu">tamilnadu</option>
            <option value="andhra pradesh">andhra pradesh</option>
            <option value="maharashtra">maharashtra</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid state.
          </div>
        </div>
        <div class="col-md-3">
          <label >Zip</label>
          <input type="text" class="form-control" name="zip" [(ngModel)]="userObj.zip" >
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" name="isTermsAggree" [(ngModel)]="userObj.isTermsAggree">
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" [disabled]="!form.valid" type="button" (click)="onSubmit()">Submit form</button>
        </div>
      </form>
</div>


