<button class="btn btn-primary" (click)="navigateToAdmin()">Go to Admin</button>

<div class="row">
    
    <div class="col-6">
        1. interpolation
        <p>{{firstName}}</p>
        <div>
            {{rollNo}}
        </div>
    </div>
    <div class="col-6">
        2. property bunding 
        <input type="text" [value]="firstName" name="" id="">
        <br>
        <input type="text" [placeholder]="firstName" name="" id="">
        <br>
        <div [className]="divClassName" style="height: 100px;width: 100px;"></div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button class="btn btn-primary" (click)="showWelcomeMessage()">show welcome</button>
    </div>
    <div class="col-3">
        <select (change)="onCityChange()">
            <option value="option 1">option 1</option>
            <option value="option 2">option 2</option>
            <option value="option 3">option 3</option>
        </select>
    </div>
</div>


<div class="row">
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName">
    </div>
    <div class="col-3">
        <select [(ngModel)]="seletedCity">
            <option value="option 1">option 1</option>
            <option value="option 2">option 2</option>
            <option value="option 3">option 3</option>
        </select>
        -{{seletedCity}}
    </div>
</div>
