<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="admin">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'dataBinding'">Data Binding</a>
          </li>
          <!-- Directive Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="directiveDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Directive
            </a>
            <ul class="dropdown-menu" aria-labelledby="directiveDropdown">
              <li><a class="dropdown-item" routerLink="ng-class">Ng-Class</a></li>
              <li><a class="dropdown-item" routerLink="ng-style">Ng-Style</a></li>
            </ul>
          </li>
          <!-- Signals Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="signalsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Signals
            </a>
            <ul class="dropdown-menu" aria-labelledby="signalsDropdown">
              <li><a class="dropdown-item" routerLink="signal">Signal</a></li>
              <li><a class="dropdown-item" routerLink="linkSignal">Link Signal</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="signalsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Form
            </a>
            <ul class="dropdown-menu" aria-labelledby="signalsDropdown">
              <li><a class="dropdown-item" routerLink="templateForm">Template Form</a></li>
              <li><a class="dropdown-item" routerLink="reactiveForm">Reactive Form</a></li>
            </ul>
          </li>
          <!-- API Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="signalsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              API
            </a>
            <ul class="dropdown-menu" aria-labelledby="signalsDropdown">
              <li><a class="dropdown-item" routerLink="getApi">get API</a></li>
              <li><a class="dropdown-item" routerLink="postApi">post API</a></li>
              <li><a class="dropdown-item" routerLink="putApi">put API</a></li>
              <li><a class="dropdown-item" routerLink="deleteApi">delete API</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  